
    .main-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 עמודות שוות */
        grid-template-rows: repeat(8, 1fr); /* 8 שורות שוות */
        grid-gap: 10px;
        max-width: 400px;
        height: 600px;
        margin: 40px auto;
        padding: 15px;
        background-color: #e4dede;
        border-radius: 20px;
    }
    .display-box {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 5px;
        border-radius: 10px;
      }
    .box {
        background-color: hsl(0, 3%, 64%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 10px;
        transition: background-color 0.4s ease;
    }
    .box[data-type="acction"]{
        background-color: lightblue;

    }
    .box[data-type="operation-button"] {
        background-color: rgba(255, 166, 0, 0.521);
    }
    .box[data-type="clear"]{
        background-color: rgba(172, 54, 54, 0.555);
    }
    .box[data-type="general"]{
        background-color: rgba(160, 160, 160, 0.555);
    }
    .box[data-type="num"]{
        background-color: rgba(255, 255, 255, 0.555);
    }
    .display {
        display: flex;
        justify-content: flex-end; /* מזיז את הספרה 0 לצד ימין */
        align-items: center;
        background-color: white;
        padding: 18px;
        font-size: 40px;
        border-radius: 5px;
    }
    
    .memory-buttons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    ;
    }
    
    .dis-box {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 18px;
        transition: background-color 0.4s ease;
    }

    .box:hover,
    .dis-box:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s;
    }

    .box:active,
    .dis-box:active {
        background-color: #6a8caf;;
    }
    .box:active {
        transform: scale(0.95);
        transition: transform 0.1s;
        
    }

    